@font-face {
    font-family: 'Helvetica Neue LT Std Bold';
    src: url('./Components/Assets/font/HelveticaNeueLTStd-Bd.otf');
    src:local('Helvetica Neue LT Std Bold'), 
    url('./Components/Assets/font/HelveticaNeueLTStd-Bd.otf') format('embedded-opentype'),
    url('./Components/Assets/font/HelveticaNeueLTStd-Bd.otf') format('otf'),
    
}
@font-face {
    font-family: 'Helvetica Neue LT Std Black';
    src: url('./Components/Assets/font/HelveticaNeueLTStd-Blk.otf');
    src:local('Helvetica Neue LT Std Black'), 
    url('./Components/Assets/font/HelveticaNeueLTStd-Blk.otf') format('embedded-opentype'),
    url('./Components/Assets/font/HelveticaNeueLTStd-Blk.otf') format('otf'),
    
}
@font-face {
    font-family: 'Helvetica Neue LT Std lite';
    src: url('./Components/Assets/font/HelveticaNeueLTStd-Lt.otf');
    src:local('Helvetica Neue LT Std lite'), 
    url('./Components/Assets/font/HelveticaNeueLTStd-Lt.otf') format('embedded-opentype'),
    url('./Components/Assets/font/HelveticaNeueLTStd-Lt.otf') format('otf'),
    
}


body{
    font-family: 'Helvetica Neue LT Std lite';
    margin: 0
}